.header-left {
            float: none;
            margin-top: 0em;
        }

        .header {
            padding: 0.3em 0 0em;
            border-bottom: 1px solid #eee;
        }
        .error {
            color : red;
            font-size: large;
        }

        .logo a {
            color: #E95393;
            font-family: 'open_sanssemibold';
            font-size: 2.8em;
            text-decoration: none;
        }

        .header-right {
            float: right;
            width: 80%;
        }

        .top-nav ul li {
            display: inline-block;
        }

            .top-nav ul li a {
                color: #777777;
                padding: 1.8em 0.8em;
                display: block;
                font-size: 1.2em;
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                -moz-transition: 0.5s all;
                -o-transition: 0.5s all;
                 text-decoration: none;
            }

                .top-nav ul li a:hover {
                    color: #E95393;
                }

        .top-nav {
            float: left;
        }


        .wrap {
            width: 90%;
        }

        .clear {
            clear: both;
        }

        .right{
            float: right;
        }